@{
    ViewData["Title"] = "Home Page";
}

<div>
    @Html.Partial("AboutMePartial")
    @Html.Partial("ResumePartial")
    @Html.Partial("ProjectsPartial")
    @Html.Partial("ContactMePartial")
</div>