@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section id="resume">
    <div class="container">
        <div class="row">
            <div class="my-wrapper">
                <div class="left-wrapper">
                    <div class="content">
                        <div class="head">
                            <h2>Education</h2>
                        </div>
                        <div class="list-inner">
                            <ol>
                                <li>
                                    <h4>Diploma in Multimedia</h4>
                                    <h6>Animation Center Chennai</h6>
                                    <span>Sep 05 2015 to Sep 05 2016 </span>
                                    <p>
                                        Every year, the number of people using the Internet is
                                        increased to twice that of the previous year. Also, the increase
                                        in various internet-enabled devices like Mobile, Tablet, PC,
                                        and TV have turned over a new era in the progress
                                        of Web development.
                                    </p>
                                </li>

                                <li>
                                    <h4>+2</h4>
                                    <h6>Tamilnadu</h6>
                                    <span>13-06-2012 to 01-03-2014</span>

                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="right-wrapper">
                    <div class="content">
                        <div class="head">
                            <h2>Experience</h2>
                        </div>
                        <div class="list-inner">
                            <ol>
                                <li>
                                    <h4>Smarteye Technologies</h4>
                                    <h6>Web Designer</h6>
                                    <span>06-11-2017 Continued</span>
                                    <p>
                                        Website Templates, Bootstrap Templates,
                                        PHP Scripts Web Design, Application Development,
                                        Technical Support
                                    </p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="inter">
                    <h6>RESUME</h6>
                </div>
            </div>
        </div>
    </div>
</section>